In [5]:
import pandas as pd

In [7]:
sample_data = pd.read_csv('data.csv')
sample_data

     Period    Sales
0  Apr-2022    1,700
1  May-2022   21,700
2  Jun-2022   42,367
3  Jul-2022   62,367
4  Aug-2022   83,033
5  Sep-2022  103,700
6  Oct-2022  123,700